body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  width: 100%;
  overflow: hidden;
}

/*.svg-map {*/
/*  width: 100%;*/
/*  height: auto;*/
/*  stroke: #666;*/
/*  stroke-width: 1;*/
/*  stroke-linecap: round;*/
/*  stroke-linejoin: round;*/
/*}*/

/*.svg-map__location {*/
/*  fill: #a1d99b;*/
/*  cursor: pointer;*/
/*}*/

/*.svg-map__location:hover {*/
/*  transition: all 0.2s;*/
/*  opacity: 0.5;*/
/*}*/